[Unit]
Description=USB Gadget %I
ConditionPathIsDirectory=/sys/kernel/config/usb_gadget

[Service]
EnvironmentFile=@SYSCONFDIR@/gadget/%i.conf
RemainAfterExit=yes
ExecStart=@SBINDIR@/configure-gadget %i
ExecStop=@SBINDIR@/remove-gadget %i

[Install]
WantedBy=multi-user.target
